*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#0f172a,
#1e293b,
#312e81
);

color:white;
}

.container{

width:90%;
max-width:700px;

text-align:center;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

box-shadow:
0 0 25px rgba(0,255,255,.3);

}

h1{
margin-bottom:30px;
font-size:40px;
}

.stopwatch{

padding:30px;

border-radius:20px;

background:rgba(255,255,255,.05);

box-shadow:
0 0 20px rgba(0,255,255,.4);
}

#display{

font-size:48px;
font-weight:700;

letter-spacing:2px;

color:#38bdf8;

text-shadow:
0 0 10px #38bdf8,
0 0 25px #38bdf8;
}

.buttons{

margin-top:30px;

display:flex;
justify-content:center;
flex-wrap:wrap;

gap:15px;
}

button{

padding:14px 25px;

border:none;

border-radius:50px;

cursor:pointer;

font-size:16px;
font-weight:600;

transition:.3s;
}

#startBtn{
background:#22c55e;
color:white;
}

#pauseBtn{
background:#f59e0b;
color:white;
}

#resetBtn{
background:#ef4444;
color:white;
}

#lapBtn{
background:#3b82f6;
color:white;
}

button:hover{

transform:translateY(-4px);

box-shadow:
0 0 15px rgba(255,255,255,.4);
}

.laps{

margin-top:30px;

max-height:250px;
overflow-y:auto;

text-align:left;
}

.laps h2{

text-align:center;
margin-bottom:15px;
}

#lapList{

list-style:none;
}

#lapList li{

padding:12px;

margin-bottom:10px;

border-radius:12px;

background:rgba(255,255,255,.08);

display:flex;
justify-content:space-between;
}

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:#38bdf8;
border-radius:10px;
}

@media(max-width:600px){

#display{
font-size:28px;
}

h1{
font-size:28px;
}

button{
width:100%;
}

}